.Menu {
    display: flex;
    height: 100%;
    width: 15%;
    overflow-y: auto;
    min-height: 0;
    flex-direction: column;

    cursor: pointer;

    border-width: 0 2px 0 0 ;
    border-style: solid;
    border-color: #0670c8;
}

.MenuItem svg {
    width: 40px!important;
}

.MenuItem {
    font-size: 17px;
    padding: 5px 0;
}

.MenuItem span {
    border-left: 3px solid #0670c8;
    padding: 5px 0 5px 10px;
}

.Menu .active span {
    border-left: 3px solid #ffffff;
}

.Menu .active .MenuItem {
    background-color: #0670c8;
    color: #ffffff;
}

.Menu > a {
    padding: 15px 0;
}