.NetworkMenu {
    height: 100%;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #0670c8;
    min-width: 150px;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.NetworkMenu:hover {
    overflow-y: scroll;
}

.NetworkMenuItem {
    min-height: 50px;
    cursor: pointer;
    padding: 5px 5px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #0670c8;
}

.NetworkMenuItem:hover {
    background-color: #88C8F9;
}

.NetworkMenuItem:last-child {
     border-width: 0;
}

.NetworkMenuItemName, .NetworkMenuItemGateway, .NetworkMenuItemSubnet {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.NetworkCreate {
    cursor: pointer;
}